{% extends 'base.html' %}

{% block content %}
<div class="card" style="width: 18rem;">
    {% if movie.poster %}
    <img src="{{movie.poster.url}}" class="card-img-top" alt="...">
    {% else %}
    <img src="../../static/images.png" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
         <h5 class="card-title">title: {{ movie.title }}</h5>
        <p class="card-text">ticket_price: {{ movie.ticket_price }}</p>
        <a href="/movies/{{movie.id}}/" class="btn btn-primary">Купить билет</a>
        <a href="/movies/{{movie.id}}/delete/" class="btn btn-danger">Удалить</a>
    </div>
</div>
{% endblock content %}
