{% extends 'base.html' %}

{% block content %}
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %} 
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>
{% for food in foods %}
<div class="card" style="width: 18rem;">
    {% if food.photo %}
    <img src="{{food.photo.url}}" class="card-img-top" alt="...">
    {% else %}
    <img src="../../static/images.png" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
         <h5 class="card-title">title: {{ food.title }}</h5>
         <h6 class="card-text">description: {{ food.description }}</h6>
        <p class="card-text">price: {{ food.price }}</p>
        <a href="/foods/{{food.id}}/" class="btn btn-primary">Подробнее</a>
    </div>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for i in max_page %}
        <li class="page-item"><a class="page-link" href="/foods/?page={{i}}">{{i}}</a></li>
        {% endfor %}
        <li class="page-item"><a class="page-link" href="/foods/">Назад</a></li>
    </ul>
</nav>
{% endblock content %}
